body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    position: relative;
}

.color-block {
    width: 50%;
    height: 100vh;
    float: left;
    cursor: pointer;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}

#admin-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}